.features-section {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: white;
}

.features-title {
    font-family: Poppins, sans-serif;
    margin-bottom: 95px;
    font-size: 20.9px;
    font-weight: 900;

}