.header {
    height: 95vh;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    background-color: rgba(213, 9, 9, 0.3);
    padding-top: 45px;
    padding-bottom: 45px;
    transform: translateZ(-5px) scale(1.5);
}

.title {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    color: white;
}

.contentbtns {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.btnGroup {
    padding-top: 45px;
    padding-bottom: 45px;
}

.btn1,
.btn2 {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 25px;
    width: 190px;
    font-weight: 600;
    margin: 7.6px;
}

.btn1 {
    background-color: #f26d7d;
}

.btn2 {
    background-color: white;
}

.wave-violet {
    position: absolute;
    /* transform: translateZ(-5px) scale(1.5); */
    bottom: 0px;
    height: 150px;
    width: 100%;
}

.wave-white {
    position: absolute;
    /* transform: translateZ(-5px) scale(1.5); */
    bottom: 0px;
    height: 150px;
    width: 100%;
}