.header {
    min-height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    /* min-height: 100vh; */
    transform: translateZ(-10px) scale(2);
    object-fit: fill;
    z-index: -1;
}


.wave-violet {
    position: absolute;
    /* transform: translateZ(-5px) scale(1.5); */
    bottom: 0px;
    height: 150px;
    width: 100%;
}

.wave-white {
    position: absolute;
    /* transform: translateZ(-5px) scale(1.5); */
    bottom: 0px;
    height: 150px;
    width: 100%;
}